[Desktop Entry]
Type=Application
Version=1.0
Name=Secret Santa
Exec=secretsanta
Comment=You're the Santa and you have to be secret.
Icon=secretsanta
Terminal=false
Categories=Game;ArcadeGame;
